body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
  }
  
a {
    color: #2dc997;
  }
  
a:hover, a:active, a:focus {
    color: #2dca98;
    outline: none;
    text-decoration: none;
  }
  
p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
  
  /* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}
  
@media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}
  
.back-to-top:hover {
  background: #2dc997;
  color: #fff;
}
  
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
  
#header #logo {
  float: left;
}
  
#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
  
#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}
  
#header #logo img {
  padding: 0;
  margin: 0;
}
  
@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}
  
#header.header-fixed {
  background: rgba(52, 59, 64, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#hero {
  width: 100%;
  height: 100%;
  background: url(../img/background.jpg) top center;
  background-size: cover;
  position: relative;
}

#hero.home {
  height: 100vh;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
  
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
  
#hero .hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero.home .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
  
#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 2em;
  font-weight: 700;
  line-height: 2em;
  /* text-transform: uppercase; */
  color: #fff;
}

#hero h2 {
  color: #fff;
}
  
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

  
@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
  
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
  
#hero .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

#dLabel {
  width: 240px;
  height: 40px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #cccccc;
  text-align: left;
  padding: 7.5px 15px;
  color: #ccc;
  letter-spacing: 0.7px;
  margin-top: 25px;
}

.caret {
  float: right;
  margin-top: 9px;
  display: block;
}

.profile-section {
  margin-bottom: 2em;
}

.recommended-products .card {
  margin: 0 0 1.5em;
}

.section-recommend .your-profile {
  margin: 0 0 2em;
}

.section-recommend .your-profile .title {
  color: #fff;
  font-size: 1.5em;
  margin: 0 0 0.5em;
}

.section-recommend .your-profile p {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  color: pink;
  margin: 0 0 0.5em;
}

.form-profile {
  padding: 0 0 4em;
}

.form-profile h1 {
  color: #fff;
}

.form-profile label {
  color: #fff;
}

.form-profile .form-title {
  font-weight: bold;
  color: pink;
  margin: 0 0 1em;
}

.form-profile label {
  margin: 0 1em;
}

#hero {
  width: 100%;
  height: 100%;
  background: url(../img/background.jpg) top center;
  background-size: cover;
  position: relative;
}

#hero.landing {
  height: 100vh;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
  
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero.landing .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}  

#hero h2 {
  color: #fff;
}
  
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

  
@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
  
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
  
#hero .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

