<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Skincare Therapy</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="static/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>                                  
  <nav class="navbar has-background-black">                                                    
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-light" href="/">Skincare Recommendation</a>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
  <script src="/static/js/initFirebase.js"></script>
  <script src="/static/js/signInOutWithGoogle.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>