{% extends "base.html" %}
{% block content %}
  <section id="hero" class="home">
      <div class="hero-container">
          <div class="container">
            <h1>Welcome to Skin Therapy </h1>
            <h2>Our recommendation system will assist you to choose your best skincare products</h2>
          </div>

          <div class="container form-profile">
              <div class="container">
                <section class="get-profile">
                  <form action="/recommend" name="form-get-profile" method="POST">
                    <div class="profile-section">
                      <h3 class="form-title">Choose Your Skin Type</h3>
                      <div class="list-options">
                          <label><input type="radio" name="options_skin_type" value="normal"> Normal</label>
                        <label><input type="radio" name="options_skin_type" value="dry"> Dry</label>
                        <label><input type="radio" name="options_skin_type" value="combination"> Combination</label>
                        <label><input type="radio" name="options_skin_type" value="oily"> Oily </input></label>
                      </div>
                    </div>
                    
                    <div class="profile-section">
                      <h3 class="form-title">Choose Your Skin Tone</h3>
                      <div class="list-options">
                          <label><input type="radio" name="options_skin_tone" value="light"> Light</label>
                          <label><input type="radio" name="options_skin_tone" value="deep"> Deep</label>
                          <label><input type="radio" name="options_skin_tone" value="olive"> Olive</label>
                          <label><input type="radio" name="options_skin_tone" value="fair"> Fair</label>
                          <label><input type="radio" name="options_skin_tone" value="medium"> Medium</label>
                          <label><input type="radio" name="options_skin_tone" value="dark"> Dark</label>
                          
                      </div>
                    </div>
            
                    <button type="submit">Submit</button>
                  </form>
                </section>
              </div>
          </div>
      </div>
  </section>
{% endblock %}